<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link rel="stylesheet" href="../static/css/forgot_password.css" />
  </head>
  <body>
    <main id="content" role="main" class="container">
      <div class="card">
        <div class="card-content">
          <div class="text-center">
            <h1>Forgot password?</h1>
            <p>
              Remember your password?
              <a href="/login">Login here</a>
            </p>
          </div>

          <div class="form-container">
            <form>
              <div class="input-group">
                <label for="email">Email address</label>
                <div class="input-wrapper">
                  <input type="email" id="email" name="email" required />
                </div>
                <p class="error-message" id="email-error">
                  Please include a valid email address so we can get back to
                  you.
                </p>
              </div>
              <button type="submit" class="reset-button">Reset password</button>
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
