<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- My CSS -->
    <link rel="stylesheet" href="../static/css/transfer_money.css" />

    <title>Thông tin tài khoản</title>
  </head>
  <body>
    <!-- SIDEBAR -->
    <section id="sidebar">
      <a href="#" class="brand">
        <i class="bx bxs-smile"></i>
        <span class="text">AdminHub</span>
      </a>
      <ul class="side-menu top">
        <li>
          <a href="#">
            <i class="bx bxs-dashboard"></i>
            <span class="text">Trang chủ</span>
          </a>
        </li>
        <li>
          <a href="/account/profile">
            <i class="bx bxs-info-circle"></i>
            <span class="text">Thông tin tài khoản</span>
          </a>
        </li>
        <li class="active">
          <a href="#">
            <i class="bx bx-transfer"></i>
            <span class="text">Chuyển tiền</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bxs-gift"></i>
            <span class="text">Đổi điểm thưởng</span>
          </a>
        </li>
      </ul>
      <ul class="side-menu">
        <li>
          <a href="#">
            <i class="bx bxs-cog"></i>
            <span class="text">Cài đặt</span>
          </a>
        </li>
        <li>
          <a href="#" class="logout">
            <i class="bx bxs-log-out-circle"></i>
            <span class="text">Đăng xuất</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <section id="content">
      <!-- NAVBAR -->
      <nav>
        <i class="bx bx-menu"></i>
        <a href="#" class="nav-link">Danh mục</a>
        <a href="/account/profile" class="profile">
          <img src="../static/images/people.png" />
        </a>
      </nav>
      <!-- NAVBAR -->

      <!-- MAIN -->
      <main>
        <div class="head-title">
          <div class="left">
            <h1>Chuyển tiền</h1>
            <ul class="breadcrumb">
              <li>
                <a href="#">Chuyển tiền</a>
              </li>
            </ul>
          </div>
        </div>

        <ul class="box-info">
          <li>
            <div class="my-info">
              <div class="my-info-title">Thông tin chuyển tiền</div>
              <div class="detail-wrapper">
                <div class="detail">
                  <div class="detail-title">Thông tin chuyển tiền</div>
                  <div class="method-wrapper">
                    <div class="method-text">Hình thức chuyển</div>
                    <div class="method-detail">
                      Chuyển tiền qua số tài khoản
                    </div>
                  </div>
                </div>
                <div class="detail">
                  <div class="detail-title">Thông tin của bạn</div>
                  <div class="method-wrapper">
                    <div class="method-text">Tài khoản nguồn</div>
                    <div class="method-detail">
                      <div class="main-account">0387652237/BUI CONG BAC</div>
                      <div class="amount"><strong>3,057,280 VND</strong></div>
                    </div>
                  </div>
                </div>
                <div class="my-info-confirm">Tiếp tục</div>
              </div>
            </div>
            <div class="my-info">
              <div class="my-info-title">Thông tin người nhận</div>
              <div class="detail-wrapper">
                <div class="detail">
                  <div class="detail-title">Thông tin người nhận</div>
                  <div class="method-wrapper">
                    <div class="method-text">Ngân hàng thụ hưởng</div>
                    <div class="method-detail">
                      <div class="logo"></div>
                      <div class="text">PTIT BANK</div>
                    </div>
                  </div>
                  <div class="method-wrapper">
                    <div class="method-text">Số tài khoản</div>
                    <div class="method-detail"><input /></div>
                  </div>
                  <div class="method-wrapper">
                    <div class="method-text">Tên tài khoản</div>
                    <div class="method-detail">BÙI CÔNG BẮC</div>
                  </div>
                  <div class="method-wrapper">
                    <div class="method-text">Số tiền</div>
                    <div class="method-detail"><input /></div>
                  </div>
                  <div class="method-wrapper">
                    <div class="method-text">Số tiền</div>
                    <div class="method-detail">
                      <input value="BUI CONG BAC chuyen tien" />
                    </div>
                  </div>
                </div>
                <div class="receiver-info-confirm">Tiếp tục</div>
              </div>
            </div>
            <div class="my-info">
              <div class="my-info-title">Xác nhận thông tin</div>
              <div class="detail-wrapper">
                <div class="detail">
                  <div class="detail-title">Chi tiết chuyển khoản</div>
                  <div class="method-wrapper">
                    <div class="method-text">Tài khoản nguồn</div>
                    <div class="method-detail">0387652237/BUI CONG BAC</div>
                  </div>
                  <div class="method-wrapper">
                    <div class="method-text">Người nhận</div>
                    <div class="method-detail">0344033697/PHAM THANH LONG</div>
                  </div>
                  <div class="method-wrapper">
                    <div class="method-text">Số tiền chuyển</div>
                    <div class="method-detail">20,000 VND</div>
                  </div>
                  <div class="method-wrapper">
                    <div class="method-text">Phí chuyển</div>
                    <div class="method-detail">0 VND</div>
                  </div>
                  <div class="method-wrapper">
                    <div class="method-text">Tổng tiền</div>
                    <div class="method-detail">20,000 VND</div>
                  </div>
                  <div class="method-wrapper">
                    <div class="method-text">Nội dung</div>
                    <div class="method-detail">BUI CONG BAC chuyen tien</div>
                  </div>
                  <div class="method-wrapper">
                    <div class="method-text">Hình thức xác thực</div>
                    <div class="method-detail">Digital OTP</div>
                  </div>
                </div>
                <div class="confirm-transaction-btn">Tiếp tục</div>
              </div>
            </div>
          </li>
        </ul>
        <div class="confirm-modal-wrapper">
          <div class="confirm-modal">
            <div class="modal-header">
              <div class="modal-title">Nhập mã xác thực</div>
              <div class="modal-close-btn"><i class="bx bx-x"></i></div>
            </div>
            <div class="modal-body">
              <div class="method-detail confirm-code-input"><input /></div>
              <div class="my-info-confirm confirm-code-btn">Xác nhận</div>
            </div>
          </div>
        </div>
      </main>
      <!-- MAIN -->
    </section>
    <!-- CONTENT -->

    <script src="../static/js/home.js"></script>
    <script>
      const confirmTransactionBtn = document.querySelector(
        ".confirm-transaction-btn"
      );
      const confirmModal = document.querySelector(".confirm-modal-wrapper");
      const closeModalBtn = document.querySelector(".modal-close-btn");

      confirmTransactionBtn.addEventListener("click", () => {
        confirmModal.style.display = "flex";
      });

      closeModalBtn.addEventListener("click", () => {
        confirmModal.style.display = "none";
      });
    </script>
  </body>
</html>
